* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: 400;
  overflow: hidden !important;
}
/* Navigation Bar */
/* Navigation Bar Desktop */
nav {
  display: flex;
  justify-content: flex-end;
  font-size: 1.1rem;
  height: 3.5rem;
  background: #f8f8f8;
}

.nav-bar {
  display: flex;
  list-style: none;
}

.nav-bar li a {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 3rem;
  color: #7a7979;
  text-decoration: none;
}

.nav-bar li a:hover {
  color: #000000;
}

/* Navigation Bar Mobile Icon (used at the bottom, display is set to none for desktop)*/
.nav-icon-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 1rem;
}

.nav-icon-mobile div {
  display: none;
  width: 1.25rem;
  height: 2.5px;
  margin: 0.08rem;
  background-color: #585858;
}

/* Body text */
.main-text h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -400%);
  color: #222121;
  font-size: 1.8rem;
  font-weight: 100;
}

/* Footer */
footer {
  height: 4rem;
  background: #f8f8f8;
}

.contact {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 0rem;
}

.contact ul {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  justify-content: space-around;
}
.contact li {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-info {
  padding-right: 4rem;
  color: #7a7a7a;
}

/* Mobile Display Style */
@media screen and (max-width: 768px) {
  /* body {
  } */

  .nav-bar {
    position: absolute;
    right: 0;
    height: 92vh;
    width: 40%;
    transform: translateX(100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in;
    background: #222;
    z-index: 1;
  }
  .nav-bar li {
    opacity: 1;
  }

  .nav-icon-mobile div {
    position: relative;
    display: block;
    cursor: pointer;
    z-index: 1;
  }

  .nav-bar-active {
    transform: translateX(0%);
  }
  .nav-bar-text-active {
    opacity: 1;
  }
}
