@import "variable";

body {
  min-height: 100vh;
  position: relative;
}
footer {
  position: fixed;
  bottom: 0%;
  width: 100vw;
  height: 10vh;
  background: $navBarColor;
  display: grid;
  grid-template-rows: 1fr 0.5fr;
  align-items: end;
  justify-content: center;
  ul {
    display: flex;
  }
  p {
    display: flex;
    justify-content: center;
    font-size: 10px;
  }
}

.contact-info {
  padding: 0 0.4vw;
  color: rgb(58, 58, 58);
}

.email {
  padding-right: 4vw;
}
@media screen and (max-width: 768px) {
  .contact {
    display: grid;
    grid-template-rows: 18vh 2vh;
    height: 20vh;
    width: 100vw;
    position: absolute;
    bottom: 0%;
    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .contact-info {
    padding: 1vh;
    color: rgb(58, 58, 58);
  }
}
