@import "variable";

footer {
  position: absolute;
  bottom: 0%;
  width: 100vw;
  height: 10vh;
  background: $navBarColor;
  display: flex;
  align-items: center;
  justify-content: center;
  ul {
    display: flex;
  }
}

.contact-info {
  padding-left: 0.4vw;
  padding-right: 4vw;
  color: $textColor;
}

@media screen and (max-width: 768px) {
  .contact {
    @include flexCenter(row);
    height: 20vh;
    width: 100vw;
    position: absolute;
    bottom: 0%;
  }
  .contact ul {
    @include flexCenter(column);
  }

  .contact-info {
    padding: 0.5rem;
    color: #7a7a7a;
  }
}
