@import "variable";

footer {
  height: 4rem;
  background: $navBarColor;
}

.contact {
  @include flexCenter(row);
  width: 100vw;
  position: absolute;
  bottom: 0rem;
}

.contact ul {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  justify-content: space-around;
}

.contact-info {
  padding-right: 4rem;
  color: $textColor;
}

.contact-text {
  padding-right: 0.3rem;
}
