@import "../style/header";
@import "../style/footer";
@import "../style/variable";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

h1 {
  display: flex;
  justify-content: center;
  padding: 3vh;
}

h2 {
  padding-left: 3vw;
  font-size: 20px;
  font-style: bold;
}

p {
  font-size: 14px;
  padding: 2vh 5vw;
}

a {
  color: blue;
}
@media screen and (max-width: 768px) {
  main {
    display: grid;
    grid-template-rows:
      max-content max-content max-content max-content
      max-content 20vh;
  }
  h1 {
    padding-bottom: 10vh;
  }

  h2 {
    font-size: 17px;
    padding-left: 1.5rem;
  }
  p {
    font-size: 12px;
    padding-left: 2.5rem;
  }
}
