@import "header";
@import "footer";
@import "variable";
@import "icon";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: 400;
  /* !need to find a way to not add !important */
  overflow: hidden !important;
}

.main-text {
  @include flexCenter(column);
  height: 35vh;
}

.main-text h1 {
  @include flexCenter(row);
  /* transform: translate(-50%, -400%); */
  color: #222121;
  font-size: 1.8rem;
  font-weight: 100;
}

.social-media-icon {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 10rem);
}

.social-media-icon a {
  @include flexCenter(row);
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border-style: solid;
  border-width: 0.8px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.github {
  margin: auto;
  width: 5rem;
}

.linkedin {
  margin: auto;
  width: 4.5rem;
}
.gmail {
  margin: auto;
  width: 4.3rem;
}

.facebook {
  margin: auto;
  width: 2.5rem;
}
/* *Mobile Display Style */
@media screen and (max-width: 768px) {
  /* Nav bar on mobile */
  /* body {
    } */

  .nav-bar {
    position: absolute;
    right: 0;
    height: 92vh;
    width: 40%;
    transform: translateX(100%);
    @include flexCenter(column);
    transition: transform 0.5s ease-in;
    background: #222;
    z-index: 1;
  }

  .nav-bar li a {
    text-align: justify;
    /* padding-right set to 0 for centering purpose */
    padding-right: 0rem;
  }

  .nav-icon-mobile div {
    position: relative;
    display: block;
    cursor: pointer;
    z-index: 1;
  }

  .nav-bar-active {
    transform: translateX(0%);
  }
  .nav-bar-text-active {
    opacity: 1;
  }

  footer {
    height: 10rem;
    background: #f8f8f8;
  }
  .contact {
    @include flexCenter(row);
    height: 20vh;
    width: 100%;
    position: absolute;
    bottom: 0rem;
  }
  .contact ul {
    @include flexCenter(column);
  }

  .contact-info {
    padding: 0.5rem;
    color: #7a7a7a;
  }

  .social-media-icon {
    grid-template-columns: repeat(2, 7rem);
    grid-template-rows: repeat(2, 7rem);
    transform: translateY(-30%);
  }

  .social-media-icon a {
    display: flex;
    align-items: center;
    width: 5rem;
    height: 5rem;
  }

  .github {
    margin: auto;
    width: 4rem;
  }

  .linkedin {
    margin: auto;
    width: 3.5rem;
  }

  .gmail {
    margin: auto;
    width: 3.5rem;
  }

  .facebook {
    margin: auto;
    width: 2rem;
  }
}
