.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 3vw;
  height: 5rem;
  background: #f8f8f8;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav-bar a {
  text-decoration: none;
  padding: 0 2.5vw;
  color: #7a7a7a;
}

.nav-bar a:hover {
  color: #222;
}

@media screen and (max-width: 768px) {
  .nav-bar {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    right: 0;
    height: 92vh;
    width: 40vw;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
    background: #222;
    z-index: 4;
  }
  .nav-bar li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2vh;
  }
  .nav-icon-mobile {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 100vw;
    cursor: pointer;
    z-index: 4;
    padding: 1rem 1rem;
  }
  .nav-icon-mobile span {
    width: 1.2rem;
    height: 3px;
    margin: 0.1rem;
    background: #7a7a7a;
  }
  .nav-bar-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

footer {
  position: absolute;
  bottom: 0%;
  width: 100vw;
  height: 10vh;
  background: #f8f8f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-info {
  padding-left: 0.4vw;
  padding-right: 4vw;
  color: #7a7a7a;
}

@media screen and (max-width: 768px) {
  footer {
    height: 10rem;
    background: #f8f8f8;
  }
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 20vh;
    width: 100%;
    position: absolute;
    bottom: 0rem;
  }
  .contact ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact-info {
    padding: 0.5rem;
    color: #7a7a7a;
  }
}

.github-icon {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  /* !need to find a way to not add !important */
}

.main-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35vh;
}

.main-text h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* transform: translate(-50%, -400%); */
  color: #222121;
  font-size: 1.8rem;
  font-weight: 100;
}

.social-media-icon {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (10rem)[4];
      grid-template-columns: repeat(4, 10rem);
}

.social-media-icon a,
.social-media-icon p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  border-style: solid;
  border-color: black;
  border-width: 0.8px;
}

.github {
  margin: auto;
  width: 5rem;
}

.linkedin {
  margin: auto;
  width: 4.5rem;
}

.gmail {
  margin: auto;
  width: 4.3rem;
}

.wechat {
  margin: auto;
  width: 4.5rem;
  cursor: pointer;
}

.qr-code-div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (10rem)[4];
      grid-template-columns: repeat(4, 10rem);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
}

.qr-code {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 5;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: right;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  width: 8rem;
  margin: 0;
}

.qr-code-active {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

/* *Mobile Display Style */
@media screen and (max-width: 768px) {
  body {
    width: 100vw;
    height: 100vh;
    position: relative;
  }
  .qr-code-div {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (6rem)[4];
        grid-template-columns: repeat(4, 6rem);
    -webkit-transform: translateY(-180%);
            transform: translateY(-180%);
    position: relative;
    z-index: 0;
  }
  .mask {
    -ms-grid-column: 3;
        grid-column-start: 3;
    grid-column-end: 4;
    background-color: white;
    z-index: 1;
    width: 5rem;
  }
  .qr-code {
    -ms-grid-column: 4;
        grid-column-start: 4;
    grid-column-end: 5;
    -webkit-transform: translate(-120%, 0%);
            transform: translate(-120%, 0%);
    width: 5rem;
    z-index: 0;
  }
  .qr-code-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .social-media-icon {
    position: relative;
    -ms-grid-columns: (6rem)[2];
        grid-template-columns: repeat(2, 6rem);
    -ms-grid-rows: (6rem)[2];
        grid-template-rows: repeat(2, 6rem);
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 2;
  }
  .social-media-icon a,
  .social-media-icon p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 5rem;
    height: 5rem;
  }
  .gmail {
    margin: auto;
    width: 3.5rem;
  }
  .github {
    margin: auto;
    width: 4rem;
  }
  .linkedin {
    margin: auto;
    width: 3.5rem;
  }
  .wechat {
    margin: auto;
    width: 3.5rem;
    cursor: pointer;
  }
}
/*# sourceMappingURL=style.css.map */