.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 3vw;
  height: 5rem;
  background: #f8f8f8;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav-bar a {
  text-decoration: none;
  padding: 0 2.5vw;
  color: #7a7a7a;
}

.nav-bar a:hover {
  color: #222;
}

@media screen and (max-width: 768px) {
  body {
    width: 100vw;
    height: 100vh;
    position: relative;
  }
  .nav-bar {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    right: 0;
    height: 92vh;
    width: 40vw;
    padding-right: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
    background: #222;
    z-index: 4;
  }
  .nav-bar li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 3vh;
  }
  .nav-icon-mobile {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    right: 0;
    cursor: pointer;
    z-index: 4;
    padding: 1rem 1rem;
  }
  .nav-icon-mobile span {
    width: 1.2rem;
    height: 3px;
    margin: 0.1rem;
    background: #7a7a7a;
  }
  .nav-bar-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

footer {
  position: absolute;
  bottom: 0%;
  width: 100vw;
  height: 10vh;
  background: #f8f8f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-info {
  padding-left: 0.4vw;
  padding-right: 4vw;
  color: #7a7a7a;
}

@media screen and (max-width: 768px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 20vh;
    width: 100vw;
    position: absolute;
    bottom: 0%;
  }
  .contact ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact-info {
    padding: 0.5rem;
    color: #7a7a7a;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: scroll;
}

h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3vh 0;
}

h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0 3vh 0;
}

.mobile-container {
  display: none;
}

.cv-desktop-container {
  width: 80vw;
  height: 60vh;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .desktop-container {
    display: none;
  }
  .mobile-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 0.3fr 3fr;
        grid-template-rows: 0.3fr 3fr;
    height: 65vh;
  }
  .cv-mobile-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80vw;
    margin: auto;
    height: 100%;
    position: relative;
  }
}
/*# sourceMappingURL=cv.css.map */