@import "../style/header";
@import "../style/footer";
@import "../style/variable";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

h1 {
  display: flex;
  justify-content: center;
  padding: 5vh 0 10vh 0;
  font-size: 30pt;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "box1" "box2";
  align-self: center;
  img {
    display: flex;
    justify-self: center;
    align-self: center;
    grid-area: box1;
    max-width: 75%;
  }
  overflow-y: scroll;
}

.paragraph-container {
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  p {
    display: inline;
  }
}

@media screen and (max-width: 768px) {
  body {
    position: relative;
    min-height: 100vh !important;
  }

  h1 {
    padding-bottom: 3rem;
  }

  .grid-container {
    display: grid;
    grid-template-columns: none;
    // make sure the last rows height size matches with the footer size (i.e. 20vh currently)
    grid-template-rows: 1fr 1fr 20vh;
    padding-top: 0;
    height: fit-content;
  }
}

@media screen and (max-width: 341px) {
  h1 {
    padding-bottom: 0;
  }
  .paragraph-container {
    padding: 1rem 2rem;
  }

  .grid-container {
    grid-template-rows: 0.6fr 1fr 20vh;
  }
}
