.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 3vw;
  height: 5rem;
  background: #f8f8f8;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav-bar a {
  text-decoration: none;
  padding: 0 2.5vw;
  color: #7a7a7a;
}

.nav-bar a:hover {
  color: #222;
}

@media screen and (max-width: 768px) {
  .nav-bar {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    right: 0;
    height: 92vh;
    width: 40vw;
    padding-right: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
    background: #222;
    z-index: 4;
  }
  .nav-bar li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 3vh;
  }
  .nav-icon-mobile {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    right: 0;
    cursor: pointer;
    z-index: 4;
    padding: 1rem 1rem;
  }
  .nav-icon-mobile span {
    width: 1.2rem;
    height: 3px;
    margin: 0.1rem;
    background: #7a7a7a;
  }
  .nav-bar-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

footer {
  position: absolute;
  bottom: 0%;
  width: 100vw;
  height: 10vh;
  background: #f8f8f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-info {
  padding-left: 0.4vw;
  padding-right: 4vw;
  color: #7a7a7a;
}

@media screen and (max-width: 768px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 20vh;
    width: 100vw;
    position: absolute;
    bottom: 0%;
  }
  .contact ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact-info {
    padding: 0.5rem;
    color: #7a7a7a;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5vh 0 10vh 0;
  font-size: 30pt;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: "box1" "box2";
  -ms-grid-row-align: center;
      align-self: center;
  overflow-y: scroll;
}

.grid-container img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: box1;
  max-width: 75%;
}

.paragraph-container {
  padding: 2rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.paragraph-container p {
  display: inline;
}

@media screen and (max-width: 768px) {
  body {
    position: relative;
    min-height: 100vh;
  }
  h1 {
    padding-bottom: 3rem;
  }
  .grid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: none;
        grid-template-columns: none;
    -ms-grid-rows: 1fr 1fr 20vh;
        grid-template-rows: 1fr 1fr 20vh;
    padding-top: 0;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

@media screen and (max-width: 341px) {
  h1 {
    padding-bottom: 0;
  }
  .paragraph-container {
    padding: 1rem 2rem;
  }
  .grid-container {
    -ms-grid-rows: 0.6fr 1fr 20vh;
        grid-template-rows: 0.6fr 1fr 20vh;
  }
}
/*# sourceMappingURL=about.css.map */